<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style/main.css">
    <title> My first game - Game </title>
</head>

<body>
    <div id="carregar">
        <h1>Estandard Games</h1>
        <div v-for="(item, index) in estandardGames" :key="index">
            <label>
                Id: {{item['id']}} Dificulty: {{item['dificulty']}} Num Cards: {{item['num_cards']}}
            </label>
            <button v-on:click="loadEstandard(index)">Carregar</button>
        </div>
        <h1>Estandard Games</h1>
        <div v-for="(item, index) in marathonGames" :key="index">
            <label>
                Id: {{item['id']}} Nivell: {{item['level']}} Punts: {{item['score']}}
            </label>
            <button v-on:click="loadEstandard(index)">Carregar</button>
        </div>
        <button v-on:click="exit()">Sortir</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="../js/carregar.js"></script>

</html>